@import "tailwindcss";

@layer base {
  body {
    background-color: #0A0A0F;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #14141C;
}

::-webkit-scrollbar-thumb {
  background: #10B981;
  border-radius: 10px;
}