@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0A0A0F] text-white antialiased;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #14141C;
}

::-webkit-scrollbar-thumb {
  background: #10B981;
  border-radius: 10px;
}